body {
  text-align: center;
  font-size: 2em;
  background-color: lightblue;
  margin: 0;
}

header {
  margin: -20px;
}
.counter-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.day-counter {
  border: 2px solid black;
  padding: 50px 70px;
  margin-top: -20px;
  background-color: rgb(36, 142, 177);
  font-size: 1.5em;
}

.div-buttons button {
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgb(36, 142, 177);
  padding: 10px;
  font-size: 0.75em;
  cursor: pointer;
}

.results {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 100px;
  justify-content: space-between;
}

/* loading bar */
.bar {
  position: relative;
  margin: 50px 10px;
  border: 2px solid black;
  height: 20px;
  width: 1000%;
}

.progress {
  position: absolute;
  background-color: lightgreen;
  height: 20px;
}

.progress-stats {
  position: absolute;
  font-size: 0.5em;
  font-weight: bold;
  right: 10px;
  top: 30px;
}
